{% extends "base.html" %}

{% block body %}
<a href="/flight/" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">back</a>

<h1>Flight ID: {{f_id}}</h1>

<ol>
    <div class="alert alert-dark" role="alert">
        <li>Ticket price: £{{dict_flights[f_id].ticket_price}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>Flight duration: {{dict_flights[f_id].duration}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>Destination: {{dict_flights[f_id].destination}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>From: {{dict_flights[f_id].origin}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
       <li>Filled seats: {{dict_flights[f_id].get_seated_passenger_count(db_wrapper)}}</li>
    </div>
    <form action="{{ url_for('flight_passengers', f_id=f_id) }}" method="POST">
        <input class="btn btn-default" type="submit" value="See Passenger List">
    </form>>
</ol>
{% endblock %}