{% extends "base.html" %}

{% block title %}Terminal{% endblock %}



{% block head %}

{% endblock %}


{% block body %}

<a href="/passengers_new/" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">New Passenger</a>

<ol>
    {%for i in range(1, len + 1)%}
    <div class="alert alert-dark" role="alert">
        <a href="{{ url_for('passenger_info', p_id=dict_passengers[i].oid) }}">
            <li>{{dict_passengers[i]}}</li>
        </a>
    </div>
    {%endfor%}
</ol>
{% endblock %}