{% extends "base.html" %}


{% block body %}
<a href="/passengers/" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Back</a>

<h1>Passenger ID: {{p_id}}</h1>

<ol>

    <div class="alert alert-dark" role="alert">
        <li>First name: {{dict_passengers[p_id].first_name}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>Last name: {{dict_passengers[p_id].last_name}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>Age: {{dict_passengers[p_id].age}}</li>
    </div>

    <div class="alert alert-dark" role="alert">
        <li>Passport number: {{dict_passengers[p_id].passport_number}}</li>
    </div>

    <div class="alert alert-dark" role="alert">Booked flights:
        {%for i in range(1, list_len +1)%}
        <div class="alert alert-dark" role="alert">
            <li>Booked flights: {{dict_passengers[p_id].tickets[i]}}</li>
        </div>
        {%endfor%}
    </div>

</ol>

<a href="{{url_for('passenger_sell_ticket', p_id=p_id)}}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Sell a ticket</a>
{% endblock %}